body {
background-image: url(https://img.freepik.com/premium-photo/battlefield-with-broken-tanks-from-world-war-ii-destroyed-equipment-dust-piles-debris_158863-3078.jpg);
background-position: center;
background-repeat: no-repeat;
background-size:cover;
font-family: sans-serif;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
}

.card {
  height: 300px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: -100px;
}


.player {
  width: 200px;
  margin-right: 100px;
  display: inline-block;
  vertical-align: top;
}


#play {
  background-color: red;
  border: none;
  border-radius: 20px;
  
}

h2 { 
  font-style: italic;
  color:red;
  font-weight: 300;
  text-underline-position: inherit;
  font-family:  "dancing script", cursive;
  font-size: 40px;
    
  }

  h1 {
    font-family: 'Bungee Outline', cursive;
    color: blue;

  }

  #play {
    font-family: "dancing script", cursive;
  font-weight:bolder;
  font-size:2.5rem;
  margin-top: 30px;
cursor: pointer;
  }

  #p1deck {
    background-color: white;
  }

  #p2deck {
    background-color: white;
  }