body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(20, 81, 157);
}

.card {
  height: 300px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: -100px;
}


.player {
  width: 200px;
  margin-right: 100px;
  display: inline-block;
  vertical-align: top;
}


#play {
  background-color: red;
  border: none;
  border-radius: 20px;
  
}

h2 { 
  font-style: italic;
  color:darkblue;
  font-weight: 300;
  text-underline-position: inherit;
}
