body {
  background-color: grey;
}
.card {
  height: 300px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}


.player {
  width: 200px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}


